/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

/* ---body settings--- */

html,
body {
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ---hero logo settigs--- */

.logo-greece {
    position: absolute;
    z-index: 1;
    transform: scale(0.7);
    top: 10px;
    left: 10px;
}

.logo-rethymno {
    width: 25%;
}

.logo-crete {
    width: 250px;
    transition: 1000ms;
}

.logo-crete:hover {
    transform: scale(2);
}

.logo-arrow {
    transform: scale(0.5);
    position: absolute;
    bottom: 5%;
    right: 0%;
}

/* ---hero settigs--- */

.hero {
    background-image: url("images/Rethymno_full_screen4.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 35px;
    position: relative;

}

.h1-hero {
    font-size: 3.5rem;
    font-weight: 900;
    color: #fff;
    text-shadow: 0 0 2px black;
    background-color: rgba(167, 255, 255, 0.4);
    padding: 6px 12px;
    border-radius: 8px;
}

.h2-hero {
    font-size: 2.5rem;
    font-weight: 900;
    color: #fff;
    text-shadow: 0 0 3px black;
    width: 850px;
    background-color: rgba(167, 255, 255, 0.6);
    padding: 6px 12px;
    border-radius: 8px;
}


/* ---Activities settigs--- */

.activities {
    background-color: rgb(227, 243, 252);
}

.h3-activities {
    font-size: 35px;
    font-weight: 900;
    color: rgb(1, 112, 112);
    text-shadow: 0 0 1px black;
    margin-top: 0;
    padding: 35px 0;
}

.images-conteiner {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.beach-logo,
.food-logo,
.rethymno-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: 350ms;
}

.beach-logo:hover,
.food-logo:hover,
.rethymno-logo:hover {
    transform: scale(1.15);
}

.beaches,
.food,
.city {
    width: 31%;
}

.beaches p,
.food p,
.city p {
    line-height: 1.5;
}



/* ---Guide settigs--- */

.guide {
    background-color: rgb(203, 253, 236);
    width: 550px;
    height: 280px;
    border-radius: 8px;
    display: flex;
    margin: 40px auto 30px;
    border-bottom: 8px solid rgb(29, 27, 27);
}

.img-cretans {
    padding: 15px;
}


/* ---Back to top settigs--- */

.back-to-top {
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: rgb(29, 26, 26);
    padding: 5px 12px;
    transition: 500ms ease-in-out;
    margin-bottom: 12px;
    display: inline-block;
}

.back-to-top:hover {
    box-shadow: inset 120px 0 0 0 rgb(203, 253, 236);
    color: rgb(0, 0, 0);
    font-weight: 900;
}